@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
}

.bg-container {
    background-color: #001c32;
    height: 100vh;
}

.temaparature-card-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    width: 600px;
    margin: auto;
}

.heading {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.label-el {
    color: #5a7184;
}